<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico"> 

	{% block header %}
	<title>Knight Lab Starter Template</title>
	<meta name="description" content="">
	{% endblock %}

	<link rel="stylesheet" href="//cloud.webtype.com/css/d4767ecb-457a-4677-8761-72f890add836.css">
	<link rel="stylesheet" href="//s3.amazonaws.com/robbinco/frameworks/blueline/0.1.0/blueline.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}/css/style.css">

	<!--[if lt IE 9]>
	<script src="{{ STATIC_URL }}/js/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
	{% block content %}
	{% endblock %}

	{% block scripts %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}/js/main.js"></script>
	{% endblock %}
</body>
</html>
